.carousel-caption {
  position: absolute;
  left: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 30%;
  bottom: 20px;
}


@media (max-width:576px) {
  .carousel-caption  {
      width: 100%;
      background-color:#e9e2d792 !important;
      color: white !important;
      left: 0;
  }
}

@media (max-width:768px) {
  .carousel-caption {
      width: 100%
  }
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.carousel-text {
  color: #6D4833;
  background-color: #E9E2D7;
  float: left !important;
}


.button {
  padding: 0.8em 1.5em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #B8CDC4;
  background-color: #B8CDC4;
}

.button:hover {
  color: #ffffff;
  transform: scale(1);
  outline: 2px solid #6d4833;
  box-shadow: 4px 5px 17px -4px #268391;
}

.button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #6d4833;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button:hover::before {
  width: 250%;
}

.hero {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.container{
  padding-right: 0px;
}

#navbarsExample05{
  padding-right: 0px;
}

/* Header */
header {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
  padding: 0px;
  margin: 0px;
}

@media (min-width: 768px) {
  header {
    padding: 0px 0;
  }
}

header .navbar-brand {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 800;
  font-size: 2rem;
}

header .navbar-brand.absolute {
  position: absolute;
}

@media (max-width: 991.98px) {
  header .navbar-brand.absolute {
    position: relative;
  }
}

header .navbar-brand span {
  color: #ffffff;
}

@media (min-width: 768px) {
  header .navbar-brand span {
    color: #cccccc;
  }
}

header .navbar {
  /* background: rgba(0,0,0,1) !important; */
  padding-top: .1rem;
  padding-bottom: .5rem;
}

@media (min-width: 768px) {
  header .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: none !important;
    position: relative;
  }
}

header .navbar .nav-link {
  padding: .2rem 1rem;
  outline: none !important;
  font-size: 1rem;
  color: rgba(255,255,255,.8) !important;
}

@media (max-width: 1199.98px) {
  header .navbar .nav-link {
    padding: .5rem 0rem;
  }
}

header .navbar .nav-link.active {
  color: #6D4833 !important;
  border-bottom: 2px solid #6D4833;
}


.navbar-toggler .navbar-toggler-icon{
  color: aqua !important;
}