<div>
    <div class="d-flex justify-content-end">
        <button class="btn btnClass" (click)="scrollLeft()">
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" (click)="scrollLeft()"
                xmlns="http://www.w3.org/2000/svg" class="arrow-left-icon">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M13.8516 5.9994C13.8529 6.30645 13.7315 6.60129 13.5144 6.81841C13.2972 7.03554 13.0024 7.15696 12.6953 7.1557L4.07196 7.14755L6.18098 9.25658C6.63071 9.7063 6.63071 10.4354 6.18098 10.8852C5.73126 11.3349 5.00211 11.3349 4.55239 10.8852L0.480914 6.81369C0.375791 6.706 0.292797 6.57874 0.236626 6.43912C0.120284 6.15751 0.120284 5.84128 0.236626 5.55968C0.292797 5.42006 0.375791 5.2928 0.480914 5.1851L4.55239 1.11362C5.00211 0.663901 5.73126 0.663901 6.18098 1.11362C6.63071 1.56335 6.63071 2.29249 6.18098 2.74221L4.07196 4.85124L12.6953 4.8431C13.0024 4.84184 13.2972 4.96326 13.5144 5.18038C13.7315 5.3975 13.8529 5.69234 13.8516 5.9994Z"
                    fill="black"></path>
            </svg>
        </button>
        <button class="btn btnClass" (click)="scrollRight()">
            <svg width="14" height="12" viewBox="0 0 14 12" fill="none" (click)="scrollRight()"
                xmlns="http://www.w3.org/2000/svg" class="arrow-right-icon">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M0.148354 6.0006C0.147095 5.69355 0.268514 5.39871 0.485636 5.18158C0.702758 4.96446 0.9976 4.84304 1.30465 4.8443L9.92804 4.85245L7.81902 2.74342C7.36929 2.2937 7.3693 1.56455 7.81902 1.11483C8.26874 0.665106 8.99789 0.665106 9.44761 1.11483L13.5191 5.18631C13.6242 5.294 13.7072 5.42126 13.7634 5.56088C13.8797 5.84249 13.8797 6.15872 13.7634 6.44032C13.7072 6.57995 13.6242 6.7072 13.5191 6.8149L9.44761 10.8864C8.99789 11.3361 8.26874 11.3361 7.81902 10.8864C7.36929 10.4367 7.36929 9.70751 7.81902 9.25779L9.92804 7.14876L1.30465 7.1569C0.9976 7.15816 0.702758 7.03674 0.485636 6.81962C0.268514 6.6025 0.147095 6.30766 0.148354 6.0006Z"
                    fill="black"></path>
            </svg>
        </button>
    </div>

    <div #widgetsContent id="style-3" class="gap-3  mt-4 pb-2"
        style=" display: flex;overflow-x: auto;scroll-snap-type: x mandatory;">
        <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="assets/images/cakes/chocolateCake.jpg" alt="" class="w-100 card-img-top ">
                    <div class="p-4">
                        <span class="mb-0 header">Chocolate cake</span>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="assets/images/cakes/redVelvet.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <span class="mb-0 header">Red velvet cake</span>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0"><img src="assets/images/cakes/blackForest.jpg" alt=""
                        class="w-100 card-img-top">
                    <div class="p-4">
                        <span class="mb-0 header">Black Forest cake</span>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="assets/images/cakes/vanila.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <span class="mb-0 header">Vanilla</span>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="assets/images/cakes/strawberry.jpg" alt="" class="w-100 card-img-top ">
                    <div class="p-4">
                        <span class="mb-0 header">Strawberry cake</span>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="assets/images/cakes/americanheritagechocolate.jpg" alt=""
                        class="w-100 card-img-top">
                    <div class="p-4">
                        <span class="mb-0 header d-flex">American Heritage Chocolate</span>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0"><img src="assets/images/cakes/img5.jpg" alt=""
                        class="w-100 card-img-top">
                    <div class="p-4">
                        <span class="mb-0 header">Black Forest cake</span>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="assets/images/cakes/img6.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <span class="mb-0 header">Fruit Cake</span>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>