<div >
    <div class="d-flex justify-content-between">
        <button class="btn btnClass" (click)="scrollLeft()">
            <i data-feather="arrow-left"></i>
        </button>
        <button class="btn btnClass" (click)="scrollRight()">
            <i data-feather="arrow-right"></i>
        </button>
    </div>

    <div #widgetsContent id="style-3" class="gap-3  mt-4" style=" display: flex;overflow-x: auto;scroll-snap-type: x mandatory;">
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="../../../assets/images/cakes/chocolateCake.jpg" alt="" class="w-100 card-img-top h-25">
                    <div class="p-4">
                        <h5 class="mb-0">Chocolate cake</h5>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="../../../assets/images/cakes/redVelvet.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Red velvet cake</h5>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0"><img src="../../../assets/images/cakes/blackForest.jpg" alt=""
                        class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Black Forest cake</h5>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="../../../assets/images/cakes/vanila.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Vanilla</h5>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="../../../assets/images/cakes/strawberry.jpg" alt="" class="w-100 card-img-top h-25">
                    <div class="p-4">
                        <h5 class="mb-0">Strawberry cake</h5>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="../../../assets/images/cakes/americanheritagechocolate.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">american heritage chocolate</h5>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0"><img src="../../../assets/images/cakes/img5.jpg" alt=""
                        class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Black Forest cake</h5>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
            <!-- Card-->
            <div class="card shadow-sm border-0 rounded">
                <div class="card-body p-0">
                    <img src="../../../assets/images/cakes/img6.jpg" alt="" class="w-100 card-img-top">
                    <div class="p-4">
                        <h5 class="mb-0">Hummingbird cake</h5>
                        <p class="small text-muted"><i class="fa fa-inr" aria-hidden="true"></i> 100.55</p>
                        <div class="d-flex justify-content-between">
                            <div>
                                <ul class="social mb-0 list-inline ">
                                    <li class="list-inline-item mr-1">
                                        <a href="#" class="social-link">
                                            <i data-feather="heart" class="smallIcon"></i>
                                        </a>
                                    </li>
                                    <li class="list-inline-item m-0">
                                        <a href="#" class="social-link">
                                            <i data-feather="shopping-bag" class="smallIcon"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div><button class="buyBtn">Buy </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>