<div class="main mt-0">
    <!-- video container -->
    <div class="clickAndShop p-3">
        <div class="pt-5">
            <div class="d-flex justify-content-center text-bold text-uppercase" style="color:#6D4833"> Click & Shop
            </div>
            <div class="d-flex justify-content-center mt-3" id="mouseTarget">
                <span class="subTitle subTitleResponsive">
                    Discover our creations in video
                </span>
            </div>

            <div class="videoDiv">
                <div class="carouselSubDiv" role="group" aria-label="Navigation controls" style="right: 0px;">
                    <div class="leftArrow" role="button" aria-label="Carousel navigation previous" aria-disabled="true"
                        tabindex="0" (click)="scrollLeft()">
                        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" (click)="scrollLeft()"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-left-icon">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M13.8516 5.9994C13.8529 6.30645 13.7315 6.60129 13.5144 6.81841C13.2972 7.03554 13.0024 7.15696 12.6953 7.1557L4.07196 7.14755L6.18098 9.25658C6.63071 9.7063 6.63071 10.4354 6.18098 10.8852C5.73126 11.3349 5.00211 11.3349 4.55239 10.8852L0.480914 6.81369C0.375791 6.706 0.292797 6.57874 0.236626 6.43912C0.120284 6.15751 0.120284 5.84128 0.236626 5.55968C0.292797 5.42006 0.375791 5.2928 0.480914 5.1851L4.55239 1.11362C5.00211 0.663901 5.73126 0.663901 6.18098 1.11362C6.63071 1.56335 6.63071 2.29249 6.18098 2.74221L4.07196 4.85124L12.6953 4.8431C13.0024 4.84184 13.2972 4.96326 13.5144 5.18038C13.7315 5.3975 13.8529 5.69234 13.8516 5.9994Z"
                                fill="black"></path>
                        </svg>
                    </div>
                    <div class="rightArrow" role="button" aria-label="Carousel navigation next" aria-disabled="false"
                        tabindex="0" (click)="scrollRight()">
                        <svg width="14" height="12" viewBox="0 0 14 12" fill="none" (click)="scrollRight()"
                            xmlns="http://www.w3.org/2000/svg" class="arrow-right-icon">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M0.148354 6.0006C0.147095 5.69355 0.268514 5.39871 0.485636 5.18158C0.702758 4.96446 0.9976 4.84304 1.30465 4.8443L9.92804 4.85245L7.81902 2.74342C7.36929 2.2937 7.3693 1.56455 7.81902 1.11483C8.26874 0.665106 8.99789 0.665106 9.44761 1.11483L13.5191 5.18631C13.6242 5.294 13.7072 5.42126 13.7634 5.56088C13.8797 5.84249 13.8797 6.15872 13.7634 6.44032C13.7072 6.57995 13.6242 6.7072 13.5191 6.8149L9.44761 10.8864C8.99789 11.3361 8.26874 11.3361 7.81902 10.8864C7.36929 10.4367 7.36929 9.70751 7.81902 9.25779L9.92804 7.14876L1.30465 7.1569C0.9976 7.15816 0.702758 7.03674 0.485636 6.81962C0.268514 6.6025 0.147095 6.30766 0.148354 6.0006Z"
                                fill="black"></path>
                        </svg>
                    </div>
                </div>
                <div class="carouselMainDiv" role="region" aria-roledescription="carousel">

                    <div class="d-lg-flex carousel-inner " #widgetsContent id="style-3" role="group"
                        aria-label="Carousel slides">
                        <div class="videoBox" *ngFor="let video of videos; let i = index"
                            [style.transform]="'translateX(' + (i * 10) + '%)'">
                            <video #videoPlayer [src]="video.src" [id]="video.id" (mouseover)="mouseOver(video)"
                                (mouseout)="mouseOut(video)" type="video/mp4" loop></video>

                            <svg class="video-overlay-play-button" viewBox="0 0 200 200" alt="Play video"
                                *ngIf=" video.isHovered == false">
                                <circle class="fill" cx="100" cy="100" r="90" fill="none" stroke-width="5"
                                    stroke="#fff" />
                                <polygon class="fill" points="70, 55 70, 145 145, 100" fill="#fff" />
                            </svg>
                            <svg *ngIf=" video.isHovered == true" class="video-overlay-pause-button" height="512px" id="Layer_1"
                                style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512"
                                width="512px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                <g>
                                    <path
                                        d="M224,435.8V76.1c0-6.7-5.4-12.1-12.2-12.1h-71.6c-6.8,0-12.2,5.4-12.2,12.1v359.7c0,6.7,5.4,12.2,12.2,12.2h71.6   C218.6,448,224,442.6,224,435.8z" />
                                    <path
                                        d="M371.8,64h-71.6c-6.7,0-12.2,5.4-12.2,12.1v359.7c0,6.7,5.4,12.2,12.2,12.2h71.6c6.7,0,12.2-5.4,12.2-12.2V76.1   C384,69.4,378.6,64,371.8,64z" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- discover container -->
    <div class="discover pb-3" style="background-color: #fff !important;">
        <div class="pt-5 p-3">
            <div class="d-flex justify-content-center text-bold text-uppercase" style="color:#6D4833"> discover
            </div>
            <div class="d-flex justify-content-center mt-3">
                <span class="subTitle subTitleResponsive">
                    offer treats
                </span>
            </div>
            <!-- <div id="album-rotator">
                <div id="album-rotator-holder" (mousedown)="onMouseDown($event)" (mousemove)="onMouseMove($event)"
                    (mouseup)="onMouseUp()" (mouseleave)="onMouseUp()" class="image-slider">
                    <a target="_top" class="album-item">
                        <span>
                            <img src="../../../assets/images/cakes/img1.jpg" class="album-details" alt="">
                        </span>
                    </a>
                    <a target="_top" class="album-item">
                        <span>
                            <img src="../../../assets/images/cakes/img2.jpg" class="album-details" alt="">
                        </span>
                    </a>
                    <a target="_top" class="album-item">
                        <span>
                            <img src="../../../assets/images/cakes/img3.jpg" class="album-details" alt="">
                        </span>
                    </a>
                </div>
            </div> -->
            <app-discover-and-offers></app-discover-and-offers>
        </div>
    </div>

    <!-- products container -->
    <div class="products">
        <div class="content pt-5">
            <div class="d-flex justify-content-center text-bold text-uppercase" style="color:#6D4833">currently in
                stores
            </div>
            <div class="d-flex justify-content-center mt-3">
                <span class="subTitle subTitleResponsive">
                    discover our range of desserts
                </span>
            </div>


            <div class=" d-flex justify-content-center mt-5">
                <div class="row mx-2">
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img"> <a href="#" data-abc="true"> <img
                                        src="assets/images/cakes/productCake.jpg" alt="" class="productImg"> </a>
                                <span class="text-center">Made With Love</span>
                                <div class="product-action">
                                    <div style="margin: 0 4.5rem 0 4.5rem; background-color: #fff;"><b
                                            class="text-uppercase" style="color: #6D4833;">cakes</b></div>
                                    <div class="product-action-style">
                                        <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                                                class="fa fa-heart"></i> </a> <a href="#"> <i
                                                class="fa fa-shopping-cart"></i> </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img"> <a href="#" data-abc="true"> <img
                                        src="assets/images/cakes/productBrowinies.jpg" alt="" class="productImg"> </a>
                                <span class="text-center">Bars and Brownies</span>
                                <div class="product-action">
                                    <div style="margin: 0 4.5rem 0 4.5rem; background-color: #fff;"><b
                                            class="text-uppercase" style="color: #6D4833;">Brownies</b></div>
                                    <div class="product-action-style">
                                        <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                                                class="fa fa-heart"></i> </a> <a href="#"> <i
                                                class="fa fa-shopping-cart"></i> </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img"> <a href="#" data-abc="true"> <img
                                        src="assets/images/cakes/productSmoothe.jpg" alt="" class="productImg"> </a>
                                <span class="text-center">Bevrages</span>
                                <div class="product-action">
                                    <div style="margin: 0 4.5rem 0 4.5rem; background-color: #fff;"><b
                                            class="text-uppercase" style="color: #6D4833;">Smoothies</b></div>
                                    <div class="product-action-style">
                                        <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                                                class="fa fa-heart"></i> </a> <a href="#"> <i
                                                class="fa fa-shopping-cart"></i> </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img"> <a href="#" data-abc="true"> <img
                                        src="assets/images/cakes/productCupCake.jpg" alt="" class="productImg"> </a>
                                <span class="text-center">Cakes</span>
                                <div class="product-action">
                                    <div style="margin: 0 4.5rem 0 4.5rem; background-color: #fff;"><b
                                            class="text-uppercase" style="color: #6D4833;">Cup Cakes</b></div>
                                    <div class="product-action-style">
                                        <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                                                class="fa fa-heart"></i> </a> <a href="#"> <i
                                                class="fa fa-shopping-cart"></i> </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" d-flex justify-content-center mt-4">
                <div class="row mx-2">
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img"> <a href="#" data-abc="true"> <img
                                        src="assets/images/cakes/productPuffs.jpg" alt="" class="productImg"> </a>
                                <span class="text-center">Bakery</span>
                                <div class="product-action">
                                    <div style="margin: 0 4.5rem 0 4.5rem; background-color: #fff;"><b
                                            class="text-uppercase" style="color: #6D4833;">Puffs</b></div>
                                    <div class="product-action-style">
                                        <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                                                class="fa fa-heart"></i> </a> <a href="#"> <i
                                                class="fa fa-shopping-cart"></i> </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img"> <a href="#" data-abc="true"> <img
                                        src="assets/images/cakes/productIceCream.jpg" alt="" class="productImg"> </a>
                                <span class="text-center">Colds</span>
                                <div class="product-action">
                                    <div style="margin: 0 4.5rem 0 4.5rem; background-color: #fff;"><b
                                            class="text-uppercase" style="color: #6D4833;">Ice Creams</b></div>
                                    <div class="product-action-style">
                                        <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                                                class="fa fa-heart"></i> </a> <a href="#"> <i
                                                class="fa fa-shopping-cart"></i> </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img"> <a href="#" data-abc="true"> <img
                                        src="assets/images/cakes/productBreads.jpg" alt="" class="productImg"> </a>
                                <span class="text-center">Bakery</span>
                                <div class="product-action">
                                    <div style="margin: 0 4.5rem 0 4.5rem; background-color: #fff;"><b
                                            class="text-uppercase" style="color: #6D4833;">Breads</b></div>
                                    <div class="product-action-style">
                                        <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                                                class="fa fa-heart"></i> </a> <a href="#"> <i
                                                class="fa fa-shopping-cart"></i> </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="product-wrapper mb-45 text-center">
                            <div class="product-img"> <a href="#" data-abc="true"> <img
                                        src="assets/images/cakes/productPestry.jpg" alt="" class="productImg"> </a>
                                <span class="text-center">Pasterys</span>
                                <div class="product-action">
                                    <div style="margin: 0 4.5rem 0 4.5rem; background-color: #fff;"><b
                                            class="text-uppercase" style="color: #6D4833;">Cakes</b></div>
                                    <div class="product-action-style">
                                        <a href="#"> <i class="fa fa-plus"></i> </a> <a href="#"> <i
                                                class="fa fa-heart"></i> </a> <a href="#"> <i
                                                class="fa fa-shopping-cart"></i> </a>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- about Us container -->
    <div class="aboutUs" style="background-color: white !important;">
        <app-about-us></app-about-us>
    </div>


    <!-- our Address container -->
    <div class="ourAddress p-5 pt-1">
        <div class="mt-5">
            <div class="d-flex justify-content-center text-bold text-uppercase" style="color:#6D4833;">
                Our addresses
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                <span class="subTitleOurAddress">
                    India
                </span>
                <span class="subTitleOurAddress">
                    Paris
                </span>
                <span class="subTitleOurAddress">
                    Korea
                </span>
                <span class="subTitleOurAddress">
                    Dubai
                </span>
            </div>
            <div class="mt-2">
                <app-address></app-address>
            </div>
        </div>
    </div>



    <!-- oerder  or delivary container -->
    <div class="delivaryContainer">
        <div class="d-flex flex-wrap justify-content-between p-5" style="color: white">

            <div class="col-6 col-lg-3" style="text-align: center;">
                <i data-feather="smartphone" class="iconsDContainer m-3"></i>
                <div class="text-uppercase">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">click &amp; collect</span>
                    </span>
                </div>
                <div class="d-block text-muted tx-12">
                    <span class="text-muted">Order today before 10 p.m. and collect tomorrow from
                        10 a.m.
                    </span>
                </div>
            </div>
            <div class="col-6 col-lg-3" style="text-align: center;">
                <i data-feather="smartphone" class="iconsDContainer m-3"></i>
                <div class="text-uppercase">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">purchase in store</span>
                    </span>
                </div>
                <p class="d-block text-muted">
                    <span style="vertical-align: inherit;">open 7/7 - 24/7
                    </span>
                </p>
            </div>
            <div class="col-6 col-lg-3" style="text-align: center;">
                <i data-feather="truck" class="iconsDContainer m-3"></i>
                <div class="text-uppercase">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">Delivery (D+0) by courier</span>
                    </span>
                </div>
                <p class="d-block text-uppercase text-muted">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">
                            <img src="https://www.fedex.com/content/dam/fedex-com/logos/logo.png" alt=""
                                style="width: 100px; width: 50px;">
                        </span>
                    </span>
                </p>
            </div>
            <div class="col-6 col-lg-3" style="text-align: center;">
                <i data-feather="truck" class="iconsDContainer m-3"></i>
                <div class="text-uppercase">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">Delivery (D+0) by courier</span>
                    </span>
                </div>
                <p class="d-block text-uppercase text-muted">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">
                            <img src="https://www.fedex.com/content/dam/fedex-com/logos/logo.png" alt=""
                                style="width: 100px; width: 50px;">
                        </span>
                    </span>
                </p>
            </div>
        </div>

        <!-- <div class="row">
            <div class="col-md-3">
                <i data-feather="smartphone" class="iconsDContainer m-3"></i>
                <div class="text-uppercase">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">click &amp; collect</span>
                    </span>
                </div>
                <div class="d-block text-muted tx-12">
                    <span class="text-muted">Order today before 10 p.m. and collect tomorrow from
                        10 a.m.
                    </span>
                </div>
            </div>
            <div class="col-md-3">
                <i data-feather="smartphone" class="iconsDContainer m-3"></i>
                <div class="text-uppercase">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">click &amp; collect</span>
                    </span>
                </div>
                <div class="d-block text-muted tx-12">
                        <span  class="text-muted">Order today before 10 p.m. and collect tomorrow from
                            10 a.m.
                        </span>
                    </div>
            </div>
            <div class="col-md-3">
                <i data-feather="smartphone" class="iconsDContainer m-3"></i>
                <div class="text-uppercase">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">click &amp; collect</span>
                    </span>
                </div>
                <div class="d-block text-muted tx-12">
                        <span  class="text-muted">Order today before 10 p.m. and collect tomorrow from
                            10 a.m.
                        </span>
                    </div>
            </div>
            <div class="col-md-3">
                <i data-feather="smartphone" class="iconsDContainer m-3"></i>
                <div class="text-uppercase">
                    <span style="vertical-align: inherit;">
                        <span style="vertical-align: inherit;">click &amp; collect</span>
                    </span>
                </div>
                <div class="d-block text-muted tx-12">
                        <span  class="text-muted">Order today before 10 p.m. and collect tomorrow from
                            10 a.m.
                        </span>
                    </div>
            </div>
        </div> -->
    </div>
</div>