<div class="d-flex flex-wrap justify-content-around  py-4">
    <span class="subTitleOurAddress underlineAnimation" style="cursor: pointer;">vanilla
    </span>
    <span class="subTitleOurAddress underlineAnimation" style="cursor: pointer;">Chocolate
    </span>
    <span class="subTitleOurAddress underlineAnimation" style="cursor: pointer;">Better Scoth
    </span>
    <span class="subTitleOurAddress underlineAnimation" style="cursor: pointer;">Red Rose
    </span>
    <span class="subTitleOurAddress underlineAnimation" style="cursor: pointer;">Brownie
    </span>
</div>

<footer class="footer-04">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <a href="#" class="logo">
                    <img class="d-block" src="assets/images/logo.png" width="100" alt="Cakeologyy">
                </a>
                <p style="color: #6D4833;padding-top: 0px; margin-top: 0px;font-size: small;">Cakeologyy is more than
                    just a bakery – it's a haven for those who appreciate the finer things in life. We believe that
                    every bite should be an experience, and every creation should tell a story.</p>
                <a href="#" style="color: #6D4833;">read more <span class="ion-ios-arrow-round-forward"></span></a>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading">More Information</h2>
                <ul class="list-unstyled">
                    <li><a href="#" class="py-1 underlineAnimation">Outlets</a></li>
                    <li><a href="#" class="py-1 underlineAnimation">Support</a></li>
                    <li><a href="#" class="py-1 underlineAnimation">Privacy</a></li>
                    <li><a href="#" class="py-1 underlineAnimation">Affiliates</a></li>
                    <li><a href="#" class="py-1 underlineAnimation">Terms of use</a></li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading">Tag's</h2>
                <div class="tagcloud">
                    <a href="#" class="tag-cloud-link text-decoration-none">Cake</a>
                    <a href="#" class="tag-cloud-link text-decoration-none">Brownies</a>
                    <a href="#" class="tag-cloud-link text-decoration-none">SMOOTHIES</a>
                    <a href="#" class="tag-cloud-link text-decoration-none">CUP CAKES</a>
                    <a href="#" class="tag-cloud-link text-decoration-none">PUFFS</a>
                    <a href="#" class="tag-cloud-link text-decoration-none">ICE CREAMS</a>
                    <a href="#" class="tag-cloud-link text-decoration-none">BREADS</a>
                    <a href="#" class="tag-cloud-link text-decoration-none">PASTERYS</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-md-0 mb-4">
                <h2 class="footer-heading">Subcribe</h2>
                <form action="#" class="subscribe-form">
                    <div class="form-group d-flex">
                        <input type="text" class="form-control rounded-left" placeholder="Enter email address">
                        <button type="submit" class="form-control submit rounded-right"><i data-feather="send" aria-hidden="true" class="feather-18"></i></button>
                    </div>
                </form>
                <h2 class="footer-heading mt-5">Follow us</h2>
                <div class="d-flex p-0" style="color: #6D4833 !important;">
                    <div class="borderRound d-flex justify-content-center m-2">
                        <i data-feather="twitter" aria-hidden="true" class="feather-18"></i>
                    </div>
                    <div class="borderRound d-flex justify-content-center m-2">
                        <i data-feather="facebook" aria-hidden="true" class="feather-18"></i>
                    </div>
                    <div class="borderRound d-flex justify-content-center m-2">
                        <i data-feather="instagram" aria-hidden="true" class="feather-18"></i>
                    </div>
                    <div class="borderRound d-flex justify-content-center m-2">
                        <i data-feather="youtube" aria-hidden="true" class="feather-18"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-100 mt-5 border-top py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-6">

                    <p class="copyright">
                        ©All rights reserved. Made by
                        <a target="_blank" rel="noopener" style="color: #6D4833;">❤️Cakelogyy</a>
                    </p>
                </div>
                <div class="col-md-6 col-lg-6 text-md-right">
                    <ul class="list-unstyled d-flex flex-row flex-wrap justify-content-center footerList">
                        <li>
                            <a class="text-decoration-none underlineAnimation">Legal Notice</a>
                        </li>
                        <li>
                            <a class="text-decoration-none underlineAnimation">Delivery</a>
                        </li>
                        <li>
                            <a class="text-decoration-none underlineAnimation">Contact us</a>
                        </li>
                        <li>
                            <a class="text-decoration-none underlineAnimation">Terms of Sales</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="footerBg " data-end="bottom 100%" data-values="-50px" data-type="from" data-properties="y"
    data-easing="0.8">
</div>