

<div class="d-flex flex-wrap justify-content-center">
    <span class="subTitleOurAddress">
        <a rel="noopener" style="cursor: pointer;" class="underlineAnimation">vanilla financiers</a>
    </span>
    <span class="subTitleOurAddress">
        <a rel="noopener" style="cursor: pointer;" class="underlineAnimation">Croissant</a>
    </span>
    <span class="subTitleOurAddress">
        <a rel="noopener" style="cursor: pointer;" class="underlineAnimation">Bostock</a>
    </span>
    <span class="subTitleOurAddress">
        <a rel="noopener" style="cursor: pointer;" class="underlineAnimation">Madagascar vanilla flan</a>
    </span>
    <span class="subTitleOurAddress">
        <a rel="noopener" style="cursor: pointer;" class="underlineAnimation">Paris Brest</a>
    </span>
</div>

<div class="row" style="border-top: 1px solid #6D4833;">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-3 col-lg-2" style="color: #6D4833 !important;">
        <div class="mt-5">
            <div class="mb-4">
                <a>Outlets</a>
            </div>
            <div class="mb-4">
                <a>Support</a>
            </div>
            <div class="mb-4">
                <a>Privacy</a>
            </div>
            <div class="mb-4">
                <a>Outlets</a>
            </div>
            <div class="mb-4">
                <a>Terms of use</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3">
        <div class="mt-5">
            <h6 class="text-uppercase" style="color: #6D4833 !important;">Our addresses in Paris</h6>
            <div>
                <h6 class="text-uppercase" style="color: #6D4833 !important;">Parmentier</h6>
                <p style="color: #6D4833 !important;">137 Avenue Parmentier, 75010 Paris. Hours: Open every day
                    8:00 a.m. - 8:00 p.m.</p>
            </div>
            <div>
                <h6 class="text-uppercase" style="color: #6D4833 !important;">Galeries Lafayette Gourmet</h6>
                <p style="color: #6D4833 !important;">35 Boulevard Haussmann, 75009 Paris. Open every day 10:00
                    a.m. - 9:00 p.m. Sundays and
                    public
                    holidays: 11:00 a.m. – 8:00 p.m.</p>
            </div>
            <div>
                <h6 class="text-uppercase " style="color: #6D4833 !important;">Rose bushes</h6>
                <p style="color: #6D4833 !important;">23 bis Rue des Rosiers, 75004 Paris. Hours: Open every day
                    10:00 a.m. – 8:00 p.m.</p>
            </div>
            <div>
                <a class="underlineAnimation" style="color: #6D4833 !important;">See all addresses</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-3">
        <div class="mt-5">
            <h6 class="text-uppercase" style="color: #6D4833;">Follow the latest creations</h6>
            <form class="t-form--brown d-marg-t-sm | js-form-footer">
                <div class="input input--has-submit d-full-width">
                    <input type="email" required="" placeholder="Your email" class="emailInput" aria-label="Your email">
                    <button type="submit" value="OK" class="inputButton">Ok</button>
                </div>
            </form>
            <div class="my-5">
                <h6 class="text-uppercase" style="color: #6D4833;">Join us</h6>
                <div style="color: #6D4833 !important;">Join the Cakeologyy family, apply here!</div>
                <a rel="noopener" aria-label="Join us - Opens in a new tab" style="cursor: pointer;"
                    class="underlineAnimation">Join us</a>
            </div>
            <div>
                <h6 class="text-uppercase" style="color: #6D4833;">Press</h6>
                <div style="color: #6D4833 !important;">Help: 55666552221</div>
                <a rel="noopener" aria-label="Download our Press Kit - Opens in a new tab" style="cursor: pointer;"
                    class="underlineAnimation">Download
                    our Press Kit</a>
            </div>
        </div>
    </div>
</div>
<div class="flex-wrap justify-content-center">
    <div class="d-flex justify-content-center"><a class="" href="#">
            <img class="d-block" src="assets/images/logo.png" width="160" alt="Cakeologyy"></a>
    </div>
    <div class="d-flex justify-content-center mt-0" style="color: #6D4833 !important;">
        <div class="borderRound d-flex justify-content-center m-2">
            <i data-feather="twitter" aria-hidden="true"></i>
        </div>
        <div class="borderRound d-flex justify-content-center m-2">
            <i data-feather="facebook" aria-hidden="true"></i>
        </div>
        <div class="borderRound d-flex justify-content-center m-2">
            <i data-feather="instagram" aria-hidden="true"></i>
        </div>
        <div class="borderRound d-flex justify-content-center m-2">
            <i data-feather="youtube" aria-hidden="true"></i>
        </div>
    </div>
    <ul class="list-unstyled d-flex flex-row flex-wrap justify-content-center footerList">
        <li>
            <a class="text-decoration-none">Legal Notice</a>
        </li>
        <li>
            <a class="text-decoration-none">Delivery</a>
        </li>
        <li>
            <a class="text-decoration-none">Contact us</a>
        </li>
        <li>
            <a class="text-decoration-none">Terms of Sales</a>
        </li>
    </ul>

    <div class="d-flex justify-content-center pb-3" style="color: #6D4833 !important;">
        ©All rights reserved. Made by &nbsp;
        <a target="_blank" rel="noopener" style="color: #6D4833;"> Cakelogyy</a>
    </div>
</div>
<div class="footerBg " data-end="bottom 100%" data-values="-50px" data-type="from" data-properties="y"
    data-easing="0.8"></div>