.main {
    background-color: #f7f3e9;
    color: #6D4833 !important;
}

.borderRound {
    align-items: center;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    border: 2px solid;
}

.inputButton {
    border: none;
    color: #6D4833;
    background-color: transparent;
    border-bottom: 2px solid #6D4833;
}

.emailInput {
    outline: 0;
    border-width: 0 0 2px;
    border-color: #6D4833;
    background-color: transparent;

}

::-ms-input-placeholder {
    color: red;
}

.footerList li{
    margin: 10px 10px 2px 10px;
}

.footerList li a{
    color: #6D4833;
    font-size: 14px;
    cursor: pointer;
}


.footerBg {
    height: 110px;
    background-image: url("../../../../assets/images/chevrons-937583_1280.webp");
    background-size: contain;
    bottom: -20px;
}

.subTitleOurAddress {
    font-family: sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: #6D4833;
    font-size: 0.9rem;
    line-height: 2.7rem;
    /* letter-spacing: .1rem; */
    margin: 2rem 1.5rem 2rem 1.5rem;
  }

