
  <div class="responsive-container-block bigContainer">
    <div class="responsive-container-block Container">
      <div class="responsive-container-block leftSide">
        <p class="text-blk heading">
          About - Us
        </p>
        <h5>Eternal summer is our focus & our state of mind</h5>
        <p class="text-blk subHeading">
          At Cakeologyy, we are passionate about delectable crafting pastries and creating a kitchen experience that transcends the ordinary. Our journey began with a chef’s who loves baking, and it has evolved into a celebration of creativity, quality, and the joy that delicious treats bring to our lives.        </p>
      </div>
      <div class="responsive-container-block rightSide">
        <img class="number1img" src="assets/images/AboutUs/img1.jpg">
        <img class="number2img" src="assets/images/AboutUs/img2.jpg">
        <img class="number3img" src="assets/images/AboutUs/img3.jpg">
        <img class="number5img" src="assets/images/AboutUs/img4.jpg">
        <img class="number4vid" src="assets/images/AboutUs/img5.jpg">
        <!-- <iframe allowfullscreen="allowfullscreen" class="number4vid" poster="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/b242.png" src="https://www.youtube.com/embed/svg%3E?">
        </iframe> -->
        <img class="number7img" src="assets/images/AboutUs/img6.jpg">
        <img class="number6img" src="assets/images/AboutUs/img7.jpg">
      </div>
    </div>
  </div>